

@model AngSoz.AdoCrud.Web.Models.UserInfo;


<div class="text-center mt-5 mb-3">
    <br />
    <h3>Confirmation!</h3>
    <br />

</div>

<div class=" container text-center bg-light py-5">
    <p><strong><span class="font-15">@Model.UserName</span></strong>,<br /> was <strong>successfully</strong> registered.</p>
    <a class="btn btn-outline-primary" asp-action="List">View List</a>
</div>


